# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
egg-info/
.installed.cfg
*.egg
*.egg-info/

# Virtual environment
venv/
ENV/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Specifics
venv/
WMG_BP.spec
build.sh
python-installer.exe
build/
wmg_bp_version.txt
dist/python-3.10.11-amd64.exe