# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
egg-info/
.installed.cfg
*.egg
*.egg-info/

# Virtual environment
venv/
ENV/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Logs
logs/
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Docker
*.dockerfile

# Miscellaneous
.DS_Store
Thumbs.db

# Specifics
venv/
main.spec
python-installer.exe
build/
dist/python-3.10.11-amd64.exe
.gitignore